version: "3.9"
services:

  jodconverter:
    image: eugenmayer/jodconverter:rest-0.2.0
    container_name: jodconverter
    ports:
      - "9090:8080"

  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - "9091:8080"
    depends_on:
      - jodconverter

  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    ports:
      - "9092:8080"
    depends_on:
      - backend

  nginx-service:
    build:
      context: ./nginx/
      dockerfile: Dockerfile
    ports:
      - "9093:9093"
      - "9094:9094"
      - "9095:9095"
    depends_on:
      - frontend
      - auth-service

  auth-service:
    build:
      context: ./corbit-auth/
      dockerfile: Dockerfile
    environment:
      - KEYCLOAK_CLIENTID=spring-client
      - KEYCLOAK_CLIENTSECRET=iyBqU3HM4vB9qLbE4hzaQY9xtyHofGRz
      - KEYCLOAK_AUTHORIZATIONGRANTTYPE=authorization_code
      - KEYCLOAK_SCOPE=openid,profile,email
      - KEYCLOAK_REDIRECTURI=http://nginx-service:9094/login/oauth2/code/keycloak
      - KEYCLOAK_ISSUERURI=http://nginx-service:9095/realms/my-realm


  keycloak-service:
    build:
      context: ./keycloak/
      dockerfile: Dockerfile