version: "3.9"
services:

  #  converter-service:
  #    image: eugenmayer/jodconverter:rest-0.2.0
  #    container_name: converter-service
  #    ports:
  #      - "9090:8080"

  converter-service:
    image: gotenberg/gotenberg:8
    container_name: converter-service
    ports:
      - "9090:3000"

  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - "9091:8080"
    depends_on:
      - converter-service

  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    ports:
      - "9092:8080"
    depends_on:
      - backend

  keycloak-service:
    build:
      context: ./keycloak/
      dockerfile: Dockerfile
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/localhost/9000; echo -e 'GET /health/ready HTTP/1.1\\r\\nHost: localhost\\r\\nConnection: close\\r\\n\\r\\n' >&3; head -n 1 <&3 | grep -q '200 OK'" ]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-service:
    build:
      context: ./corbit-auth/
      dockerfile: Dockerfile
    environment:
      - KEYCLOAK_CLIENTID=spring-client
      - KEYCLOAK_CLIENTSECRET=iyBqU3HM4vB9qLbE4hzaQY9xtyHofGRz
      - KEYCLOAK_AUTHORIZATIONGRANTTYPE=authorization_code
      - KEYCLOAK_SCOPE=openid,profile,email
      - KEYCLOAK_REDIRECTURI=http://nginx-service:9094/login/oauth2/code/keycloak
      - KEYCLOAK_ISSUERURI=http://nginx-service:9095/realms/my-realm
    depends_on:
      keycloak-service:
        condition: service_healthy

  nginx-service:
    build:
      context: ./nginx/
      dockerfile: Dockerfile
    ports:
      - "9093:9093"
      - "9094:9094"
      - "9095:9095"
    depends_on:
      - frontend
      - auth-service