spring:
  application:
    name: "config-service"
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

logging:
  level:
    org.springframework.web: DEBUG
